/node_modules
/public/hot
/public/storage
#webpack
/public/css/front.css
/public/css/admin.css
/public/js/front.js
/public/js/admin.js

/storage/*.key
/storage/mysql
/vendor
.env
.env.backup
.docker-compose.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
