// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//mixins
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import '~toastr/toastr';

@import "~codemirror";

@import "~codemirror/theme/darcula.css";

main{
    background-color: #efeff6;
}
.ck-editor__editable {
    min-height: 400px;
    /*max-height: 500px;*/
}
.fa-edit,.fa-trash,.fa-plus{
    transition: color 0.1s;
}
.fa-edit:hover, .fa-plus:hover{
    color: $green;
}
.fa-trash:hover{
    color: $red;
}

#sortable-items {

    li.list-group-item{
        padding-right: 0;
        border: 1px solid rgb(0 0 0 / 8%);
        &[data-status="0"] {
            background-color: #dad9d9b0;;
        }
        .sortable-ghost {
            opacity: .5;
            background: #C8EBFB;
        }

        .sortable-chosen {
        }

        .sortable-drag {
        }
        span.badge{
            position: absolute;
            right: 10px;
            top: 0;
            &[data-name="updated_at"]{
                right: 100px;
                top: 15px
            }
        }
    }
}
