//see file?you can import own style variable && so on';
//https://adminlte.io/docs/3.0/depecatndencies.html
//@import '~admin-lte/build/scss/adminlte';
@import "both";

@import '~admin-lte';

@import "~codemirror";

@import "~codemirror/theme/monokai.css";

@import "~summernote/dist/summernote-bs4.min.css";

@import "~datatables.net-bs4";




main {
    background-color: #efeff6;
}

.fa-edit, .fa-trash, .fa-plus {
    transition: color 0.1s;
}

.fa-edit:hover, .fa-plus:hover {
    color: $green;
}

.fa-trash:hover {
    color: $red;
}

[data-status="0"] {
    background-color: $grey;
}

#sortable-items {

    li.list-group-item {
        padding-right: 0;
        border: 1px solid rgb(0 0 0 / 8%);

        .sortable-ghost {
            opacity: .5;
            background: #C8EBFB;
        }

        .sortable-chosen {
        }

        .sortable-drag {
        }

        span.badge {
            position: absolute;
            right: 10px;
            top: 0;

            &[data-name="updated_at"] {
                right: 100px;
                top: 15px
            }
        }
    }
}

//datatable
table.dataTable {

    thead {

        th {
            vertical-align: text-top;
        }

        .sorting {
            &:before, &:after {
                top: 5%;
            }
        }
    }
}

//summernote
.note-editor.note-frame {
    //control button group
    .note-toolbar.card-header {
        position: sticky;
        top: 0;
        text-align: center;
        background-color: #d9e7e9;
        z-index: 5;
    }
}
