[mysqld]
#
# * Basic Settings
#
#bind-address		= 127.0.0.1
# Error log - should be very few entries.
#down work - permission denied see docker logs db

log_error = /var/log/mysql/error.log

slow_query_log=1
long_query_time=0.8
slow_query_log_file	= /var/log/mysql/mysql-slow.log
